<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>
<body> 
    <div class="head">
     <a href="/profile" class="button">Profile</a>
    <a href="/add" class="button">Add</a>
    <a href="/logout" class="button">Logout</a>
</div>
   <div class="container">
  
        <%posts.forEach(function(elem){%>
     <div class="box">
                   <a href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg" >
                   <img src="/images/uploads/<%=elem.image%>" alt=""></a>
               <div class="caption"><%= elem.imageText%></div>
     </div> 
        
    <%})%>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              
   </div>
       
       
       <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
         <script src="app.js"></script>
   </body>
                     
   
</body>
</html>