*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad          Pro", "DejaVu Sans Condensed", Helvetica, Arial,        "sans-serif";
}

body{
	background-color: rgb(204, 185, 185);
}

.container
{
  padding-top: 13vh;
  width: 80%;
  margin: auto;
  columns: 6;
  column-gap: 20px;
  
}
.container .box
{
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid;
  border-radius: 15px;
}
.container .box img
{
  max-width: 100%;
  min-width: 100%;
  border-radius: 10px;
}


.caption{
	color: darkblue;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px;
  font-size: 20px;
}

@media (max-width: 1427px)
{
  .container
  {
    columns: 5;
    width: calc(100% - 40px);
  }
}
@media (max-width: 1200px)
{
  .container
  {
    columns: 4;
  }
}

@media (max-width: 1000px)
{
  .container
  {
    columns: 3;
  }
  
  
  body{
		overflow-x: hidden;
	}
	

	
	@keyframes navLinkFade{
		from{
			opacity: 0;
			transform: translateX(50px);
			}
		
		to{
			opacity: 1;
			transform: translateX(0px);
			}
		}
	
	
	.toggle .l1{
		transform: rotate(-45deg) translate(-5px,6px);
	}
	
	.toggle .l2{
		opacity: 0;
	}
	
	.toggle .l3{
		transform: rotate(45deg) translate(-5px,-6px);
	}
}
  
  
}

@media (max-width: 786px)
{
  .container
  {
    columns: 2;
  }
}


@media (max-width: 480px)
{
  .container
  {
    columns: 1;
  }
}

.head{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
   margin: 20px 0;
   margin-left: 80%;
   
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f30d19;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  
    
  }
  
  .button:hover {
    background-color: #b7131b;
  }